.container {
	max-width: 800px;
	font-family: 'Lato', sans-serif;
	padding: 20px 40px;
	background: black;
	h2 {
		font-weight: 900;
		color: gray;
	}
	h3 {
		color: lightgray;
	}
	p {
		margin-bottom: 10px;
		color: white;
	}
}